@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@100;200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Arvo', serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #333;
    color: #222;
}



.container {
    background-color: #fafafa;
    min-width: 100vw;
    padding: 50px;
    transform-origin: top left;
    transition: transform 0.5s linear;



}



.container.show-nav {
    transform: rotate(-20deg);

}

.container.show-nav.circle {
    transform: rotate(-70deg);
}

.container.show-nav+.sitenav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}





.circle__container {
    position: fixed;
    top: -100px;
    left: -100px;

}

.circle {
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.circle button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 26px;
    cursor: pointer;

}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;

    transform-origin: top left;


}

.circle button#close {
    top: 60%;
    transform: rotate(25deg);
    transform-origin: top left;
}





.content {
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
}

.content__hedding {
    margin: 0;
}

.content__auther {
    color: #555;
    font-style: italic;

}

.content__title {
    color: #333;
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 10px;
}

.content__img {
    display: flex;
    width: 100%;
    height: 250px;
    object-fit: cover;
}


.sitenav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;

}

.sitenav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

.sitenav__list li+li {
    margin-left: 15px;
    transform: translateX(-150%);
}

.sitenav__list li+li+li {
    margin-left: 30px;
    transform: translateX(-200%);
}

.sitenav__item {
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;

}

.sitenav__link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.sitenav__link i {
    margin-right: 10px;
}

.sitenav__link:hover {
    color: aqua;
}